*{
    margin: 0;
    padding: 0;
}
section{
    width: 1300px;
    margin: auto;
    padding: auto;
    
    
}
.titulo{
    font-size: 30px;
    font-family: inherit;
    margin-top: 35px;
    text-align: center;
    margin-bottom: 35px;
    font-family: sans-serif;
}
.CajaDeMisEmojis{
    width: auto;
    height: auto;
    background-color: #DAA2A2;
    margin-top: 100px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.CajaDeMisEmojis div{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    background-color: #EECCCB;
    border: 1px solid #E4CEBA;
    margin: 30px;
    font-size: 70px;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    
}